/*  Global
------------------------ */

.chip-life-clear {
	clear: both;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
}

.chip-life-focus {
	color: #dc4b39;
	font-weight: bold;
}

.chip-life-hr {
	margin: 10px 0;
	border: none;	
	border-top: solid 1px #dfdfdf;
}

/*  Tabs
------------------------ */

#chip_life_tabs h3 { 
	display:none;
}

.chip-life-tabs {
	margin: 15px 0 15px 0;
}

.chip-life-tabs h2 {
	margin: 0 8px;
}

.chip-life-tabs-content {
	padding: 10px;
}

.chip-life-tabs-content a:link,
.chip-life-tabs-content a:visited,
.chip-life-tabs-data a:link,
.chip-life-tabs-data a:visited {
	color: #dc4b39;
	text-decoration: none;
	font-weight: bold;
}

.chip-life-tabs-content a:hover,
.chip-life-tabs-data a:hover {
	text-decoration: underline;
}

/*  Form
------------------------ */

.chip-life-image-radio-option label {
	display: block;
	float: left;
	margin: 0 30px 20px 2px;
	position: relative;
}

.chip-life-image-radio-option input {
	margin: 0 0 10px;
}

.chip-life-image-radio-option span {
	display: block;
	width: 136px;
}

.chip-life-image-radio-option img {
	margin: 0 0 0 -2px;
}

/*  Chip Life Framework Tab
------------------------ */

#chip_life_framework_tab {
	margin: 20px 0 0 0;
}

#chip_life_framework_tab ul {
	list-style: square;
	margin: 0 0 0 30px;
}

#chip_life_framework_tab h1 {
	color: #333;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
	margin: 0 0 10px 0;
}

#chip_life_framework_tab a:link,
#chip_life_framework_tab a:visited {
	color: #dc4b39;
	text-decoration: none;
}

#chip_life_framework_tab a:hover {
	text-decoration: underline;
}